@import '../../../css/style.css';

.music-app-example {
    display: flex;
    justify-content: center;
}

.music-app-example .phone-container {
    --app-dominant-color: transparent;
    --app-triad-color-2: transparent;
    --app-triad-color-1: transparent;
    --shadow: 5px 5px 10px rgba(0, 0, 0, .1), -5px -5px 10px rgba(255, 255, 255, .2);
    width: 300px;
    height: 600px;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;
    background: var(--app-dominant-color);
    transition: background 0.4s ease-in-out;
}

.music-app-example .app {
    width: 100%;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, .2), -5px -5px 10px rgba(255, 255, 255, .2);
}

.music-app-example .app .title {
    color: var(--app-triad-color-1);
}

.music-app-example .app .author {
    color: var(--app-triad-color-2);
}

.music-app-example .app-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 5px;
    justify-content: space-between;
    align-items: center;
}

.music-app-example .app-header .status {
    font-size: 12px;
    color: var(--app-triad-color-1);
}

.music-app-example .slides-container {
    width: 100%;
    display: flex;
    padding: 40px 0 10px;
}

.music-app-example .slides {
    width: auto;
    display: flex;
    flex-direction: row;
    transition-property: margin-left;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.music-app-example .slides .slide {
    width: 278px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    --dominant-color-img: transparent;
}

.music-app-example .slides .slide .image {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 200px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.music-app-example .title,
.music-app-example .author {
    width: 100%;
    display: flex;
    justify-content: center;
}

.music-app-example .title {
    font-weight: bold;
    padding: 5px;
}

.music-app-example .author {
    color: #bbb;
    font-size: 12px;
}

.music-app-example .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 10px 20px;
}

.music-app-example .controls .progress {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.music-app-example .controls .progress .bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
    --progresVal: 0%;
    --bg-bar-color: var(--app-triad-color-2);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.music-app-example .controls .progress .bar::before {
    content: '';
    width: var(--progresVal);
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    background: var(--bg-bar-color);
    border-radius: 10px;
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);
}

.music-app-example .controls .progress .bar::after {
    content: '';
    left: var(--progresVal);
    position: absolute;
    top: 50%;
    height: 0;
    width: 0;
    background: var(--app-triad-color-1);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
    transition-property: width, height;
}

.music-app-example .controls .progress .bar:active::after {
    height: 15px;
    width: 15px;
}

.music-app-example .controls .progress .time,
.music-app-example .controls .progress .length {
    position: absolute;
    top: -15px;
    color: #cccccc;
    font-size: 10px;
    padding: 0 5px;
}

.music-app-example .controls .progress .length {
    right: 0;
}

.music-app-example .controls .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.music-app-example .controls .buttons .play-pause,
.music-app-example .controls .buttons .prev,
.music-app-example .controls .buttons .next {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.music-app-example .controls .buttons .play-pause {
    width: 70px;
    height: 70px;
}

.music-app-example .controls .buttons .prev,
.music-app-example .controls .buttons .next {
    width: 60px;
    height: 60px;
}

.music-app-example .app-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.music-app-example .app-footer .repeat {
    cursor: pointer;
}

.music-app-example .app-header .back-button,
.music-app-example .app-header .more,
.music-app-example .app-footer .repeat,
.music-app-example .app-footer .options,
.music-app-example .controls .buttons .play-pause,
.music-app-example .controls .buttons .prev,
.music-app-example .controls .buttons .next {
    background: rgba(255, 255, 255, 0.5);
    color: var(--app-triad-color-1);
    box-shadow: var(--shadow);
    transition: color 0.4s ease-in-out;
}

.music-app-example .app-header .back-button,
.music-app-example .app-header .more,
.music-app-example .app-footer .repeat,
.music-app-example .app-footer .options {
    border-radius: 10px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-app-example .controls .buttons .play-pause.play .play,
.music-app-example .controls .buttons .play-pause.pause .pause,
.music-app-example .app-footer .repeat.none .one,
.music-app-example .app-footer .repeat.none .all,
.music-app-example .app-footer .repeat.one .none,
.music-app-example .app-footer .repeat.one .all,
.music-app-example .app-footer .repeat.all .one,
.music-app-example .app-footer .repeat.all .none {
    display: none;
}
